/*------------------------------------------------------------------------------------------------------------------------
HEADER NAV BAR */

body {
    padding: 0;
    margin: 0;
}
.LOGO {
    height: 80px;
    width: 80px;
    display: flex;
}
.LOGO img{
    height: 80px;
    width: 80px;
    margin: 10px 10px;
}
.Banner {
    border-bottom: solid;
    display: flex;
    height: 100px;
    justify-content:space-between;
    width: 100%;
    Background-color: gray;
    position: fixed;
    z-index: 1;
    top: 0;
}

.menu{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}
.menu li{
    margin: 0 20px;

}

.menu a {
    text-decoration: none;
    color: #111111;
    font-size: 15px;
    font-weight: bold;
    border: solid black 2px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    padding: 2px;
}

.div_menu{
    display: flex;
    justify-content: right;
}
/* HEADER NAV BAR
------------------------------------------------------------------------------------------------------------------------*/

/*NOUS CONTACTEZ--------------------------------------------------------------------------------------------------------*/

.pourquoi {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10em;
}

.container-contactez img {
    height: 150px;
    width: 150px;
}

.container-contactez p {
    text-align: center;
    font-family: "Imperial One", sans-serif;
}

.TITLE-CONTACT {
    padding-top: 120px;
    text-align: center;
    margin: 20px;
    font-family: Brightness, sans-serif;
}

/*NOUS CONTACTEZ--------------------------------------------------------------------------------------------------------*/


/*FOOTER----------------------------------------------------------------------------------------------------------------*/
ul img{
    max-height: 20px;
    max-width: 20px;
}

footer {
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    color: gray;
    bottom: 0;
    position: absolute;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    padding: 0;
}

.social li {
    margin: 0 10px;
}

.footer-bottom {
    background: black;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
/*FOOTER--------------------------------------------------------------------------------------------------------------*/

/*FONT-FAMILY---------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Brightness';
    src: url('../Assets/Font/Brightness/Brightness-Regular.eot');
    src: url('../Assets/Font/Brightness/Brightness-Regular.eot?#iefix') format('embedded-opentype'),
    url('../Assets/Font/Brightness/Brightness-Regular.woff2') format('woff2'),
    url('../Assets/Font/Brightness/Brightness-Regular.woff') format('woff'),
    url('../Assets/Font/Brightness/Brightness-Regular.ttf') format('truetype'),
    url('../Assets/Font/Brightness/Brightness-Regular.svg#Brightness-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Imperial One';
    src: url('../Assets/Font/Imperial/ImperialOne.eot');
    src: url('../Assets/Font/Imperial/ImperialOne.eot?#iefix') format('embedded-opentype'),
    url('../Assets/Font/Imperial/ImperialOne.woff2') format('woff2'),
    url('../Assets/Font/Imperial/ImperialOne.woff') format('woff'),
    url('../Assets/Font/Imperial/ImperialOne.ttf') format('truetype'),
    url('../Assets/Font/Imperial/ImperialOne.svg#ImperialOne') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*---------------------------------------------------------------------------------------------------------------------*/
