body{
    padding: 0;
    margin: 0;
}
.LOGO {
    height: 80px;
    width: 80px;
    display: flex;
}
.LOGO img{
    height: 80px;
    width: 80px;
    margin: 10px 10px;
}
.Banner {
    display: flex;
    height: 100px;
    justify-content:space-between;
    width: 100%;
    Background-color: gray;
    position: fixed;
}

.menu{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    margin: 0 20px;
}

.div_menu{
    display: flex;
    justify-content: right;
}